/* @import url('../../public/bedstead.otf'); */

body {
    /* position: absolute; */
    font-family: 'Bedstead';
    color: white;
    /* background-color: hsl(266, 42%, 15%); */
    background-color: hsl(255, 100%, 4%);
    background-image: url('../../public/nebula.jpg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
};

@font-face {
    font-family: 'Bedstead';
    src: url("../../public/bedstead.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
